<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 mt-5">
      <div class="card col-sm-9 mx-auto shadow">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <h1 class="m-3">Register Your Account!</h1>

            <!-- Social Buttons -->
            <div class="text-center col-sm-12">
              <a class="col-sm-5 mr-2 btn btn-social btn-facebook" href="/auth/facebook" role="button"><span class="fab fa-facebook-f"></span>Sign in</a>
              <a class="col-sm-5 btn btn-social btn-google" href="/auth/google" role="button">
                <span class="fab fa-google"></span>Sign in</a>
            </div>
            <p class="m-2 text-center">-OR-</p>
            <div class="form-group">
              <input type="email" class="form-control" name="username" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-row mx-auto">
              <div class="col-6 ml-3">
                <input class="form-check-input" type="checkbox" id="">
                <label class="form-check-label" for="inlineFormCheck">
                  Remember me
                </label>
              </div>
              <div class="col">
                <p class="text-right"><a href="#">Forgot Password</a></p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary col-sm-5">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mt-5">
      <img src="/images/food-truck.jpg" alt="">
    </div>
  </div>

</div>

<%- include('partials/footer') %>
